@use "src/_app/styles/mixins" as *;

.header {
  position: sticky;
  z-index: 50;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--header-height);
  padding: 12px 60px;
  border-bottom: 1px solid var(--color-dark-300);

  background-color: var(--color-bg-primary);
}

@include tablet {
  .header {
    padding: 12px 16px;
  }
}
